In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ribeira Grande,PT,2021-12-11 16:31:32,38.5167,-28.7000,66.60,82,40,18.41
1,1,Charters Towers,AU,2021-12-11 16:31:33,-20.1000,146.2667,76.91,74,40,9.17
2,2,Port Hedland,AU,2021-12-11 16:31:33,-20.3167,118.5667,82.45,78,20,5.75
3,3,Qasigiannguit,GL,2021-12-11 16:31:33,68.8193,-51.1922,25.05,81,100,4.56
4,4,Kapaa,US,2021-12-11 16:27:44,22.0752,-159.3190,75.52,80,40,14.97

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Charters Towers,AU,2021-12-11 16:31:33,-20.1000,146.2667,76.91,74,40,9.17
2,2,Port Hedland,AU,2021-12-11 16:31:33,-20.3167,118.5667,82.45,78,20,5.75
4,4,Kapaa,US,2021-12-11 16:27:44,22.0752,-159.3190,75.52,80,40,14.97
8,8,Cayenne,GF,2021-12-11 16:28:25,4.9333,-52.3333,86.04,85,75,4.00
9,9,Nebbi,UG,2021-12-11 16:31:35,2.4783,31.0889,75.78,52,53,6.24
12,12,Puerto Escondido,MX,2021-12-11 16:31:36,15.8500,-97.0667,85.33,64,39,5.08
17,17,Itarema,BR,2021-12-11 16:31:37,-2.9248,-39.9167,88.54,54,26,16.98
21,21,Maceio,BR,2021-12-11 16:31:30,-9.6658,-35.7353,89.04,58,75,17.27
24,24,Mporokoso,ZM,2021-12-11 16:31:40,-9.3727,30.1250,75.00,44,86,5.14
30,30,Rikitea,PF,2021-12-11 16:31:41,-23.1203,-134.9692,75.34,74,100,14.52

In [15]:
preferred_cities_df.count()

City_ID       164
City          164
Country       164
Date          164
Lat           164
Lng           164
Max Temp      164
Humidity      164
Cloudiness    164
Wind Speed    164
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
1    Charters Towers      AU     76.91 -20.1000  146.2667
2       Port Hedland      AU     82.45 -20.3167  118.5667
4              Kapaa      US     75.52  22.0752 -159.3190
8            Cayenne      GF     86.04   4.9333  -52.3333
9              Nebbi      UG     75.78   2.4783   31.0889
12  Puerto Escondido      MX     85.33  15.8500  -97.0667
17           Itarema      BR     88.54  -2.9248  -39.9167
21            Maceio      BR     89.04  -9.6658  -35.7353
24         Mporokoso      ZM     75.00  -9.3727   30.1250
30           Rikitea      PF     75.34 -23.1203 -134.9692

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Charters Towers,AU,76.91,-20.1000,146.2667,Cattleman's Rest Motor Inn
2,Port Hedland,AU,82.45,-20.3167,118.5667,The Esplanade Hotel
4,Kapaa,US,75.52,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
8,Cayenne,GF,86.04,4.9333,-52.3333,Hôtel Le Dronmi
9,Nebbi,UG,75.78,2.4783,31.0889,Satellite One Hotel
...,...,...,...,...,...,...
529,Mangrol,IN,75.25,21.1167,70.1167,Hotel The Royal Honours
530,Panama City,PA,89.13,8.9936,-79.5197,Riande Urban Hotel
531,Ixtapa,MX,84.69,20.7000,-105.2000,Hotel Plaza Providencia
533,Abu Dhabi,AE,75.31,24.4667,54.3667,Ramee Garden Hotel Apartments
542,Hinche,HT,85.42,19.1500,-72.0167,«Petites Soeurs de l'Incarnation»

In [24]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [28]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))