## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Atuona,PF,79.21,broken clouds,-9.8000,-139.0333,Villa Enata
1,2,Isabela,PH,77.05,overcast clouds,6.7085,121.9711,Isawad Resort
2,4,Rikitea,PF,76.06,overcast clouds,-23.1203,-134.9692,People ThankYou
3,5,Holetown,BB,79.36,broken clouds,13.1867,-59.6381,The Palms Resort
4,7,Mazagao,BR,86.05,broken clouds,-0.1150,-51.2894,Recanto dos Ferreiras

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""


# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Mercedes"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Mercedes"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Bahia Blanca"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Neuquen"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "San Rafael"] 

vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
194,653,Neuquen,AR,80.49,clear sky,-38.9516,-68.0591,Hotel del Comahue

In [32]:
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

print(start,stop1, stop2, stop3, end)

(-34.6515, -59.4307) (-38.7196, -62.2724) (-38.9516, -68.0591) (-34.6177, -68.3301) (-34.6515, -59.4307)

In [34]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
argentina_route = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3], 
        travel_mode="DRIVING")
fig.add_layer(argentina_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,538,Mercedes,AR,88.18,scattered clouds,-34.6515,-59.4307,Posada del Inti Centro
1,332,Bahia Blanca,AR,88.11,clear sky,-38.7196,-62.2724,Hotel Argos
2,653,Neuquen,AR,80.49,clear sky,-38.9516,-68.0591,Hotel del Comahue
3,606,San Rafael,AR,79.32,scattered clouds,-34.6177,-68.3301,Hotel San Rafael

In [36]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [39]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.0)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))